.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background-color: whitesmoke;
    border: transparent;
    outline: none !important;; 
    color: black;


    .bg{

        position: fixed;
        z-index: 99;
        top:0;
        left: 0;
        bottom: 0;
        width: 400px;
        background-color: whitesmoke;

        .links{
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: inherit;
            gap: 20px;

            a{
                font-size: 30px;
                font-weight: medium;
                color: black;
            }


        }
    }

    button{

        width: 50px;
        z-index: 99 ;
        height: 50px;
        border-radius: 50%;
        position: fixed;
        top: 28px;
        left: 21px;
        height: 25px;
        background-color: whitesmoke;
        border: transparent;

        cursor: pointer;

        svg{
            background-color: whitesmoke;
        }

    }

}