.main_container{
    background-color: black;
    margin: 0;
    padding: 0;
}

.navbar{
    background-color: black; 
}

.logo_container{
    padding-left: 2vw;
}

.logo{
    height: calc(15px + 1.2vw); 
    width: auto;
}

.search_grp{
    width: calc(15px + 17vw);
    height: fit-content;
    align-self: center;
    margin-right: 1vw;
}

.search_btn:hover{
    background-color: #FF6F4C;
}

.collapse_container{
    padding-right: 2vw;
    color: black;
    font-family: Work Sans;
    font-weight: 500;
    word-wrap: nowrap;
}

.create_opp_dropdown,
.browse_dropdown,
.login,
.join_btn,
.pro_btn{
    align-self: center;
}

.browse_dropdown{
    align-self: center;
}

.join{
    height: fit-content; 
    width: auto;
    background-color: #878078;
    border: 1px solid #878078;
}

.join:hover{
    height: fit-content; 
    width: auto;
    background-color: #FF6F4C;
    border: 1px solid #FF6F4C;
}

.inv_join{
    align-self: center;
}


@media (min-width: 1px) and (max-width: 991.98px) {
    .join_btn{
        display: none;
    }
    .inv_join{
        display: flex;
    }
    .search_grp{
        width:45vw;
        padding-top: 3vh;;
    }
}

@media (min-width: 991.99px) and (max-width: 9999px) {
    .join_btn{
        display: flex;
    }
    .inv_join{
        display: none;
    }
}