html{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "DM Sans";
    //background-color: #40146c;

    -ms-overflow-style: none;
    scrollbar-width: none; 

}

body{
    //background-color: #40146c;
    color: lightgray;
}

a {
    text-decoration: none;
    background-color: whitesmoke;
}

section{
    height: 100vh;
    width: 100vw;
    scroll-snap-align: center;
}


.course{
    height: 100vh;
    width: 100vw;
    display: flex;
    
    align-items: center;
    justify-content: center;

    .box{
        width: 200px;
        height: 200px;
        background-color: white;

    }

}